<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title th:text="${title}">Pró Saúde Adv</title>
  
  <!-- Estilos -->
  <link rel="stylesheet" href="/assets/css/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/libs/font-awesome/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/libs/datatables/datatables.min.css">
  <link rel="stylesheet" href="/assets/css/libs/datepicker/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="/assets/css/libs/select2/select2.min.css">
  <link rel="stylesheet" href="/assets/css/libs/taggle/taggle.min.css">
  <link rel="stylesheet" href="/assets/css/libs/bootstrap-toggle/bootstrap-toggle.min.css">
  <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>
<body>
  <!-- Barra de Navegação -->
  <header th:fragment="navbar">
    <nav class="navbar navbar-dark navbar-fixed-top navbar-expand-lg">
      <a th:href="@{/orcamentos/listar}" class="navbar-brand">Pró Saude</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a th:href="@{/simulacao}" class="nav-link">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              Simulação
            </a>
          </li>
		<li class="nav-item">
			<a th:href="@{/clientes}" class="nav-link">
				<i class="fa fa-file-text-o" aria-hidden="true"></i>
				Clientes
			</a>
		</li>
          <li class="nav-item">
            <a th:href="@{/simulacao/admin/listar}" class="nav-link">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              Relatórios
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
              <span>Fred John</span>
            </a>
          </li>
          <li class="nav-item">
            <a th:href="@{/logout}" class="nav-link">
              <i class="fa fa-sign-out"></i> Sair
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <footer th:fragment="footer">
      <div class="container text-center">
          <p>&copy; 2025 Pró Saúde Advocacia. Todos os direitos reservados.</p>
      </div>
  </footer>

  <!-- Scripts -->
  <script src="/assets/js/libs/jquery/jquery.min.js"></script>
  <script src="/assets/js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="/assets/js/libs/moment/moment.min.js"></script>
  <script src="/assets/js/libs/datatables/datatables.min.js"></script>
  <script src="/assets/js/libs/datetime-moment/datetime-moment.js"></script>
  <script src="/assets/js/libs/datepicker/bootstrap-datepicker.min.js"></script>
  <script src="/assets/js/libs/jquery-mask/jquery.mask.min.js"></script>
  <script src="/assets/js/libs/select2/select2.min.js"></script>
  <script src="/assets/js/libs/taggle/taggle.min.js"></script>
  <script src="/assets/js/libs/bootstrap-toggle/bootstrap-toggle.min.js"></script>
  <script src="/assets/js/common.js"></script>
</body>
</html>
